body { 
    background-color: #9cebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    gap: 20px;
}

.calc {
    background-color: #201f1f;
    padding: 2px;
    border-radius: 20px;
}

section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 400px;
    height: 500px;
    background-color: #201f1f;
    gap: 2px;
    border-radius: 18px;
    overflow: hidden;

}

button{
    font-size: 30px;
    border: 1px;
}

.display {
    grid-column: 1 / -1;
    background-color: #201f1f;
    color: white;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 130px;
}

.operador { 
    background-color: #c9c7c7;
}

.igualdade {
    grid-column: 4;
    grid-row: 3 / span 4;
    background-color: orangered;
    color: white;
}

.numero {
    background-color: whitesmoke;
}

.decimal { 
    background-color: whitesmoke;
}

.apagar { 
    background-color: whitesmoke;
}